extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'NETA Vietnam'
	- var description = 'Lò đào tạo CNTT chuyên nghiệp tại Sài Gòn. Chúng tôi là các chuyên gia uy tín trong lĩnh vực lập trình ứng dụng, thiết kế và sáng tạo. Chuyên đào tạo lập trình web, đào tạo fullstack nodejs, đào tạo frontend, đào tạo design...'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	.noel
		audio#buzzer(controls autoplay)
			source(src="./img/noel.mp3" type="audio/mpeg")
			source(src="./img/noel.ogg" type="audio/ogg")
		#player
			i.fa.fa-play
		#pause
			i.fa.fa-pause
		#congrats
			#title
		//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
		#logo 
			img(src="./img/logo.png", alt="NETA Vietnam", srcset="")
		#loichuc
			img(src="./img/chuc.png", alt="NETA Vietnam", srcset="")
		#thong 
			img(src="./img/thong.png", alt="NETA Vietnam", srcset="")
		#slogan Đào tạo CNTT trực tuyến
