extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'NETA Vietnam'
	- var description = 'Lò đào tạo CNTT chuyên nghiệp tại Sài Gòn. Chúng tôi là các chuyên gia uy tín trong lĩnh vực lập trình ứng dụng, thiết kế và sáng tạo. Chuyên đào tạo lập trình web, đào tạo fullstack nodejs, đào tạo frontend, đào tạo design...'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	#logo 
		img(src="./img/logo.png", alt="NETA Vietnam", srcset="")
	
	.container.mt-5.mb-5
		.row
			.col
				h3 Mã hóa
		.row
			.col
				textarea#code.form-control(cols="30", rows="10")
		.row.mt-3
			.col
				textarea#exp.form-control(cols="30", rows="10")
		.row.mt-3
			.col
				ul.list-inline
					li.list-inline-item
						a.btn.btn-danger#mahoa(href="javascript:void(0);") Mã hóa
					li.list-inline-item
						a.btn.btn-success#giaima(href="javascript:void(0);") Giải mã
			
	#slogan Đào tạo CNTT trực tuyến
