extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	#logo 
		img(src="./img/logo.png", alt="NETA Vietnam", srcset="")
	#menu 
		h1 NETA VietNam
		ul.list-unstyled
			li.list-item
				a.list-link(href="https://neta.edu.vn/bo-rua-neta#sumenh") SỨ MÊNH FEDER
			li.list-item
				a.list-link(href="https://neta.edu.vn/bo-rua-neta#borua") BỌ RÙA STACKER
			li.list-item
				a.list-link(href="https://neta.edu.vn/bo-rua-neta#dungsi") DŨNG SĨ CODER
			li.list-item
				a.list-link(href="https://neta.edu.vn") NGÔI TRƯỜNG NETA
		ul.list-inline
			li.list-inline-item
				a.list-link(href="https://www.facebook.com/netavietnam")
					i.fa.fa-facebook
			//- li.list-inline-item
				a.list-link(href="http://")
					i.fa.fa-github
			//- li.list-inline-item
				a.list-link(href="http://")
					i.fa.fa-youtube
	#cal
		.item 
			img(src="./img/borua.png", alt="")
	#slogan Đào tạo CNTT trực tuyến
