extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	#logo 
		img(src="./img/logo.png", alt="")
	#menu
		ul.list-inline
			li.list-inline-item 
				a(href="#") Demo 1
			li.list-inline-item 
				a(href="#") Desdf sfdsfmo 1
			li.list-inline-item 
				a(href="#") Demo 1
	#cnt
		.tamgiac-hinh.tamgiac-hinh-up(style="background-image: url(../img/ghe-1.png)")
		.box
			.tamgiac.tamgiac-down.tamgiac-den
			.title 
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
				h3 HELLO NGUYEEN
		.tamgiac-hinh.tamgiac-hinh-up.c-0(style="background-image: url(../img/ghe-3.png)")
		.box.c-1
			.tamgiac.tamgiac-down.tamgiac-cyan
			.title 
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
				h3 HELLO NGUYEEN
		.tamgiac-hinh.tamgiac-hinh-up.c-4(style="background-image: url(../img/ghe-2.png)")
		.box.c-2
			.tamgiac.tamgiac-down.tamgiac-trang
			.title 
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
				h3 HELLO NGUYEEN
		