extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'NETA Vietnam'
	- var description = 'Lò đào tạo CNTT chuyên nghiệp tại Sài Gòn. Chúng tôi là các chuyên gia uy tín trong lĩnh vực lập trình ứng dụng, thiết kế và sáng tạo. Chuyên đào tạo lập trình web, đào tạo fullstack nodejs, đào tạo frontend, đào tạo design...'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	
	.container.mt-5.mb-5
		.text-center 
			.row
				.col  
					h1 NETA Vietnam
					p.lead Nếu dùng tiếng việt ko dấu vì tại hạ chưa viết phần check dấu tiếng Việt
		hr 
		.row
			.col-sm-3
				.nav.flex-column.nav-pills(id="v-pills-tab" role="tablist" aria-orientation="vertical")
					a.nav-link#v-pills-home-tab.active(data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true") Mã hóa
					a.nav-link#v-pills-profile-tab(data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false") Giải mã

				.footer#status.mt-2
			.col-sm-9
				.tab-content(id="v-pills-tabContent")
					.tab-pane.fade.show.active(id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab")
						#enc
							h2 Nội dung
							.form-group
								textarea.form-control#clearTextInput(rows="10", placeholder="Nhập con mẹ gì đó")
							h2 Khóa
							.form-group
								.input-group
									input.form-control#key(type="password" placeholder="Mật khẩu mã hóa")
									.input-group-append
										button.btn.btn-warning#genkey 
											i.fa.fa-key
									.input-group-append
										button.btn.btn-secondary#loimat 
											i.fa.fa-eye
									.input-group-append
										button.btn.btn-danger#encrypt Mã hóa
							h2 Kết quả
							textarea.form-control#cipherTextOutput(disabled="")

					.tab-pane.fade(id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab")
						#dec
							h2 Nội dung
							.form-group
								textarea.form-control#cipherTextInput(rows="10", placeholder="Nhập con mẹ gì đó")
							h2 Khóa
							.form-group
								.input-group
									input.form-control#key2(type="password" placeholder="Mật khẩu mã hóa")
									.input-group-append
										button.btn.btn-secondary#mumat 
											i.fa.fa-eye
									.input-group-append
										button.btn.btn-success#decrypt Giải mã
							h2 Kết quả
							textarea.form-control#clearTextOutput(disabled="")
			
		#slogan.text-center 
			.mt-5.mb-2
				.row
					.col Đào tạo CNTT trực tuyến. By Bao Nguyen
