extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'NETA Vietnam'
	- var description = 'Lò đào tạo CNTT chuyên nghiệp tại Sài Gòn. Chúng tôi là các chuyên gia uy tín trong lĩnh vực lập trình ứng dụng, thiết kế và sáng tạo. Chuyên đào tạo lập trình web, đào tạo fullstack nodejs, đào tạo frontend, đào tạo design...'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	#logo 
		img(src="./img/logo.png", alt="NETA Vietnam", srcset="")
	#menu 
		h1 NETA VietNam
		ul.list-unstyled
			li.list-item
				a.list-link(href="https://neta.edu.vn/bo-rua-neta#sumenh") SỨ MÊNH FEDER
			li.list-item
				a.list-link(href="https://neta.edu.vn/bo-rua-neta#borua") BỌ RÙA STACKER
			li.list-item
				a.list-link(href="https://neta.edu.vn/bo-rua-neta#dungsi") DŨNG SĨ CODER
			li.list-item
				a.list-link(href="https://neta.edu.vn") NGÔI TRƯỜNG NETA
		ul.list-inline
			li.list-inline-item
				a.list-link(href="https://www.facebook.com/netavietnam")
					i.fa.fa-facebook
			li.list-inline-item
				a.list-link(href="https://github.com/netavietnam")
					i.fa.fa-github
			//- li.list-inline-item
				a.list-link(href="http://")
					i.fa.fa-youtube
	#cal
		.owl-carousel
			.item 
				img(src="./img/borua.png", alt="")
			.item 
				img(src="./img/borua-2.png", alt="")
			
	#slogan Đào tạo CNTT trực tuyến
