extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'NETA VIETNAM'
	- var description = 'Lò đào tạo CNTT chuyên nghiệp tại Sài Gòn. Chúng tôi là các chuyên gia uy tín trong lĩnh vực lập trình ứng dụng, thiết kế và sáng tạo. Chuyên đào tạo lập trình web, đào tạo fullstack nodejs, đào tạo frontend, đào tạo design...'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- .asad
		img(class="masked" src="./img/ghe-1.png")
	#logo 
		img(src="./img/logo.png", alt="")
	#menu
		ul.list-inline
			li.list-inline-item 
				a(href="https://neta.edu.vn") NETA
			li.list-inline-item 
				a(href="https://fullstackvietnam.com") FullStack
			li.list-inline-item 
				a(href="https://landingpage-vietnam.com") LandingPage
	#cnt
		.tamgiac-hinh.tamgiac-hinh-up(style="background-image: url(./img/ghe-1.png)")
		.box
			.tamgiac.tamgiac-down.tamgiac-den
			.title 
				p Lớp học trực tuyến cùng NETA, hãy là một IT đam mê
				h3 NETA
					br 
					| VIETNAM
		.tamgiac-hinh.tamgiac-hinh-up.c-0(style="background-image: url(./img/ghe-3.png)")
		.box.c-1
			.tamgiac.tamgiac-down.tamgiac-cyan
			.title.text-dark
				p Chúng tôi tự hào có mặt trên khắp mọi nơi!
				h3 LANDINGPAGE
					br 
					| VIETNAM
		.tamgiac-hinh.tamgiac-hinh-up.c-4(style="background-image: url(./img/ghe-2.png)")
		.box.c-2
			.tamgiac.tamgiac-down.tamgiac-trang
			.title.text-light
				p Lò đào tại CNTT chuyên nghiệp tại Sài Gòn
				h3 FULLSTACK
					br 
					| VIETNAM
	#slogan Đào tạo CNTT trực tuyến
