/////////////////////////////////
// Phần Slider
/////////////////////////////////
.home-slider
	.owl-carousel
		// Phần Slider
		.item
			position: relative
			.title
				+pad(2rem 0 0 0)
				width: 100%
				display: flex
				align-items: center
			+media-breakpoint-up(md)
				.title
					+pos(abs,null null 0 0)
					color: $whites
					+text-shadow()
					padding-bottom: 1rem
					+background-horizontal(rgba(0,0,0,0), rgba(0,0,0,.7))
					h2
						+fz(3rem)
					p 
						+fz(1.5rem)
						+lh(2rem)
		// Phần Control
		.owl-nav
			margin-bottom: 2rem
			button 
				background: $main
				+bor-rad(0)
				i 
					display: block
					width: 3rem
					height: 3rem
					+lh(3rem)
					color: #fff 
				&:hover 
					background: $main
				&.disabled
					background: rgba(0,0,0,.5)
				&:focus, &:active
					outline: none
			+media-breakpoint-up(md)
				position: absolute
				top: 50%
				transform: translateY(-50%)
				width: 100%
				margin: 0
				.owl-prev
					position: absolute
					left: 2rem
					top: 50%
					transform: translateY(-50%)
				.owl-next
					position: absolute
					right: 2rem
					top: 50%
					transform: translateY(-50%)
/////////////////////////////////
// Phần News
/////////////////////////////////

.home-news
	.item 
		figure
			.blockimg
				+bor-rad(10px)
				overflow: hidden
				img
					width: 100%
			figcaption 
				margin-top: 1rem
				h3 
					+fz(1.1rem)
					margin-bottom: 0
				time 
					+fz(.85rem)
					color: darken($whites,30%)
				p 
					margin-top: .5rem
					color: darken($whites,50%)
/////////////////////////////////
// Phần News
/////////////////////////////////

.home-clients
	.owl-carousel
		.item 
			+pad(.5rem)
		// Phần Control
		.owl-nav
			margin-bottom: 2rem
			button 
				i 
					display: block
					width: 2rem
					height: 2rem
					+lh(2rem)
